Flow_1.json
[
    {
        "id": "83c8f118.75a7a",
        "type": "tab",
        "label": "Flow 12",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af387be0.30d898",
        "type": "mqtt in",
        "z": "83c8f118.75a7a",
        "name": "",
        "topic": "esp32/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "9911ca4670b98d12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5904df93.876848",
                "cc73b057.9fa05"
            ]
        ]
    },
    {
        "id": "1dc26853.5e8b8",
        "type": "ui_gauge",
        "z": "83c8f118.75a7a",
        "name": "",
        "group": "cabb92b2.eaa2c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "°C",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "5904df93.876848",
        "type": "function",
        "z": "83c8f118.75a7a",
        "name": "",
        "func": "msg.payload = parseInt (msg.payload);\nglobal.set (\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "1dc26853.5e8b8"
            ]
        ]
    },
    {
        "id": "cc73b057.9fa05",
        "type": "debug",
        "z": "83c8f118.75a7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "9911ca4670b98d12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.108",
        "port": "1883",
        "clientid": "alainmm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cabb92b2.eaa2c8",
        "type": "ui_group",
        "name": "Temperatura Infrarroja",
        "tab": "c96e6f5d.ee4018",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c96e6f5d.ee4018",
        "type": "ui_tab",
        "name": "Temperatura IoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]